<div class="messages">
  <div class="message-up">
    <div class="message1">
      <%= message.user.name %>
    </div>
    <div class="message-date">
      <%= l message.created_at %>
    </div>
  </div>
  <div class="message.down">
    <div class="message2">
      <%= message.content %>
    </div>
    <%= image_tag message.image.variant(resize:"500x500"),class: "message-image" if message.image.attached? %>
  </div>
</div>